.jumbotron{
    background-color: white;
    border-style: solid;
    border-width: thin;
}
.card{
    background-color: lightblue;
    border-style: solid;
    border-width: thin;
}
.btn1{
    background-color: white;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.red{
    background-color: red;
    padding: 3px;
    display: inline;
    color: white;
}